<!DOCTYPE html>
<html>
<head>
	<title>Grocers | Dashboard</title>

	<!-- Icon -->
	<link rel="shortcut icon" href="images/logo.ico" />

		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
	.navbar
	{
	    border: 1;
	    border-radius: 0;
	    margin-bottom: 0;
	    font-family: sans-serif;
	    font-size: 15px;
	    background-color: white;
	}

	.footer-panel
	{
	    background-color: #2f2f2f;
	    color: #ffffff;
	    padding: 20px;
	}

	.content
	{
	    padding: 260px 25px;
	    margin: 0px;
	}
</style>

<body>

	<!-- Nav Bar Implementation -->
	<nav class="navbar navbar-default navbar-fixed-top ">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav navbar-left">
	      <li><a href="dashboard">			<div class="small-logo-container1">

							<svg class="logo-small"version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 237.3 268.7" style="enable-background:new 0 0 237.3 268.7;" xml:space="preserve">
						<style type="text/css">
						.st0{fill:#EA494B;}
						.st1{fill:#5BAF30;}
						</style>
						<g id="XMLID_1_">
						<path id="XMLID_5_" class="st0" d="M115.2,71.5c0,0-41.7-29-81.8,1.8s-46,89.2-7.6,153.7s54.3,37.2,89.4,28.8
						c35.1-8.4,46.3,54.3,101.9-41.6S205.1,29.9,115.2,71.5z"/>
						<path id="XMLID_6_" class="st1" d="M89.1,20c0,0,0.2,18.5,3.8,24.7s19.6,13.2,19.6,13.2S120.6,31,89.1,20z"/>
						<path id="XMLID_7_" class="st1" d="M118.6,57.8c0,0,48.7-3.6,44-57.8C162.7,0,118.7,9.6,118.6,57.8z"/>
						</g>
						</svg>

						<div class="text-logo">Grocers</div>

	</div></a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right" style="padding-top: 15px; padding-right: 15px;">
	      <li><a href="recipes">Recipes</a></li>
	      <li><a href="grocery-list">Grocery List</a></li>
	      <li class="active"><a href="dashboard">My QR Code</a></li>
		</ul>
	  </div>
	</nav>

	<!-- Fill Content Later -->
	<div class="content">

<div class="recipe-container">

	<div class="thumbnail-box">
		<img src="/images/logo.png" alt="">
<h2>HEY</h2>
	</div>

	<div class="thumbnail-box">
		<img src="/images/logo.png" alt="">
<h2>HEY</h2>
	</div>

	<div class="thumbnail-box">
		<img src="/images/logo.png" alt="">
<h2>HEY</h2>
	</div>

	<div class="thumbnail-box">
		<img src="/images/logo.png" alt="">
<h2>HEY</h2>
	</div>

	<div class="thumbnail-box">
		<img src="/images/logo.png" alt="">
<h2>HEY</h2>
	</div>


</div>




	</div>

	<!-- Footer Panel -->
	<footer class="footer-panel container-fluid text-center">
	  <div class="row">
	  	<div class="col-sm-4">
	  		<p><strong>Social Media</strong></p>
	  		<p></p>
	  	</div>
	  	<div class="col-sm-4">
	  		<p>Reach us at <br> <a href="grocers@google.com">grocers@google.com</a></p>
	  	</div>
	  </div>
	</footer>
	<link rel="stylesheet" href="./style.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</body>
</html>
