head {
    margin:0px;
    padding:0px;
}

body {
  margin:0px;
  padding:0px;
  overflow-x: hidden;
}

form {
  padding-left:10px;
  padding-right:10px;
}

.card {
  display:flex;
  justify-content:center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding:25px;
  width:300px;

}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.content {
  display:flex;
  align-items: center;
  justify-content: center;
}

.logo {

  height:175px;

}

.text-logo {
  font-size:2em;
  padding: 0px;
  margin:0px;
  line-height: 23px;
  font-family: 'Pacifico', cursive;
  color:#6b6b6b;
}

.small-logo-container1 {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: baseline;
  width:150px;
  height:50px;
}

.logo-small {
  width:30px;
}

.recipe-container {
  display: flex;
  flex-direction: row;
  max-width:750px;
  flex-wrap:wrap;
  justify-content: center;
}

.thumbnail-box{
  margin: 10px;
  padding:20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
  border-radius: 10px;
  width:200px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.thumbnail-box > img {
  height:100px;
}
